@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

$principal-font: 'Roboto', sans-serif;

$black-color:#000;
$white-color:#fff;
$grey-color:#cfcfcf;
$primary-color: #d1e338;
$secundary-color: #dbe299;
$background-color: #e1dfdf;
$nav-color:#131403;

$large-resolutions: 768px;